/* FOOTER */

/* TRANSITIONS */
.technology-img-container:hover .technologie {
    transition: transform 1.5s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}

/* ANIMATION WITH KEYFRAME */
.send-mail:hover {
    animation-duration: 2s;
    animation-name: change-color;
    animation-fill-mode: forwards;
}


@keyframes change-color {
    from {
        color: var(--color-text-primary, #505050);
    }

    to {
        color: var(--color-base-primary, #9bb2ff);
    }
}