/* FOOTER LAYOUT  */

.site-footer{
    display: flex; 
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    background: var(--color-background-primary, #f6f5f2);
}


.site-footer .main-section{
    width: 80%;
    border-right: 3px solid var(--color-base-third, #ff9ba7);
}

.site-footer .main-section > p{
    width: 100%;
    text-align: center;
}

.footer-technologies{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.footer-technologies .technology-img-container{
    width: 8em;
    height: 8em;
    background: var(--color-base-primary, #9bb2ff);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    margin: 0.5em 1em;
}

.contact-us{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
}

.contact-us p{
    flex-basis: 100%;
    text-align: center;
}
.contact-us i{
    font-size: 6em;
    color: var(--color-text-primary, #505050);
}

.footer-secondary-background{
    background: var(--color-text-secondary, #ffffff);
}