<!-- <input type="checkbox" name="menu-toggle" class="menu-toggle" id="menu-toggle"> -->
<header class="site-header">       
    <!-- MAIN IMG SECTION -->
    <div class="img-container" style="background-image: url({{site.baseurl}}/images/ronda_bul_ring_2400_x_1600.jpg);">
        <!-- LOGO -->
        {% if page.title == "Home" %}
        <h1 class="header-slogan">The beautiful Andalucia</h1>
        {% else %}
        <p class="header-slogan">The beautiful Andalucia</p>
        {% endif %}
        <!-- NAVIGATION -->
        {% include navigation.html %}
    </div>
</header>