<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/spain_flag.ico">
    <!-- FONTS AWESOME -->
    <script src="https://kit.fontawesome.com/dfa3f421ee.js" crossorigin="anonymous"></script>
    <!-- CSS FILE -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">

    {% if page.layout == "cities" %}
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles-cities.css">
    {% endif %}
    
    <title>{{ page.title }}</title>
</head>