<header class="site-header">       
    <!-- MAIN IMG SECTION -->
    <!-- <label for="toggle-nav" class="nav-menu">Menu</label> -->
    <div class="img-container" style="background-image: url({{site.baseurl}}/images/ronda_bul_ring_2400_x_1600.jpg);">
        <!-- LOGO -->
        {% if page.title == "Home" %}
            <h1 class="header-slogan">The beautiful Andalucia</h1>
        {% else %}
            <p class="header-slogan">The beautiful Andalucia</p>
        {% endif %}
        <!-- NAVIGATION -->
        {% include navigation.html %}
    </div>
    <!-- <div class="mobile-nav">
        {% include navigation.html %}
    </div>  -->
</header>