/********** HEADER STYLES **********/

.header-slogan {
    font-family: var(--font-family-headings, cursive);
    font-size: 4em;
    color: var(--color-background-secondary, #ffc69b);

    /* ADDING BORDER TO TEXT */
    text-shadow:
        -1px 0 var(--color-base-primary, #9bb2ff),
        0 1px var(--color-base-primary, #9bb2ff),
        1px 0 var(--color-base-primary, #9bb2ff),
        0 -1px var(--color-base-primary, #9bb2ff);
}

.header-nav ul {
    background: rgba(255, 198, 155, 0.8);
    overflow: hidden;
}

.header-nav ul li a {
    padding: 1.5em 1em;
    color: var(--color-text-secondary, #ffffff);
}

.header-nav ul li:hover {
    background: var(--color-base-primary, #9bb2ff);
    /* outline: 1px solid white; */
    box-shadow: -2px 0px 0px 0px white;

}


/********** HEADER LAYOUT **********/

.header-slogan {
    text-align: center;
    padding: 0.5em 0;
}

.img-container {
    height: 60vh;
    background: center no-repeat url(/images/ronda_bul_ring_2400_x_1600.jpg);
    background-size: cover;
    position: relative;
}

.header-nav {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

.header-nav ul li {
    padding: 1em 0;
}