.header-slogan{
    font-family: var(--font-family-headings, cursive);
    font-size: 4em;
    color: var(--color-background-secondary, #ffc69b);
    /* ADDING BORDER TO TEXT */
    text-shadow:
        -1px 0 var(--color-base-primary, #9bb2ff), 
        0 1px var(--color-base-primary, #9bb2ff), 
        1px 0 var(--color-base-primary, #9bb2ff), 
        0 -1px var(--color-base-primary, #9bb2ff);
}

.header-nav ul {
    background: rgba(255, 198, 155, 0.8);
}

.header-nav ul li a {
    color: var(--color-text-secondary, #ffffff);
}