:root {

    --font-family-basic: 'Roboto', sans-serif;
    --font-family-headings: 'Marck Script', cursive;

    --font-size-small: 10px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xtra-large: 18px;

    --color-background-primary: #f6f5f2;
    --color-background-secondary: #ffc69b;
    --color-text-primary: #505050;
    --color-text-secondary: #ffffff;
    --color-base-primary: #9bb2ff;
    --color-base-secondary: #a7ff9b;
    --color-base-third: #ff9ba7;


}