/********** FOOTER STYLES **********/


.site-footer {
    background: $color-background-primary;
    
    .main-section {
        border-right: 3px solid $color-base-third;

        @include breakpoint(footer){
            border-top: 3px solid $color-base-third;
            border-right: none;
        }
    }
}


.contact-us i {
    font-size: 6em;
    color: $color-text-primary;
}

.footer-secondary-background {
    background: $color-text-secondary;
}

/********** FOOTER LAYOUT **********/

.site-footer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    
    .main-section {
        flex-basis: 80%;

        @include breakpoint(footer){
            flex-basis: 100%;
            order: 2;
            padding-top: 1em;
        }
        
        p {
            width: 100%;
            text-align: center;
        }
    }
}




.footer-technologies {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    
    .technology-img-container {
        width: 8em;
        height: 8em;
        background: $color-base-primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        margin: 0.5em 1em;
    }
}


.contact-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    padding-left: 0.5em;
    padding-right: 0.5em;

    @include breakpoint(footer){
        flex-basis: 100%;
        order: 1;
        padding-bottom: 1em;
    }
    
    p {
        flex-basis: 100%;
        text-align: center;
    }
}



/********** FOOTER ANIMATIONS **********/

/* TRANSITIONS */
.technology-img-container:hover .technologie {
    transition: transform 1.5s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}

/* ANIMATION WITH KEYFRAME */
.send-mail:hover {
    animation-duration: 2s;
    animation-name: change-color;
    animation-fill-mode: forwards;
}


@keyframes change-color {
    from {
        color: $color-text-primary;
    }

    to {
        color: $color-base-primary;
    }
}