/********** HEADER STYLES **********/

.header-slogan {
    font-family: $font-family-headings;
    font-size: 4em;
    color: $color-background-secondary;

    /* ADDING BORDER TO TEXT */
    text-shadow:
        -1px 0 $color-base-primary,
        0 1px $color-base-primary,
        1px 0 $color-base-primary,
        0 -1px $color-base-primary;
}

.header-nav ul {
    background: rgba(255, 198, 155, 0.8);
    overflow: hidden;
    
    li a {
        padding: 1.5em 1em;
        color: $color-text-secondary;
    }

    li:hover {
        background: $color-base-primary;
        box-shadow: -2px 0px 0px 0px $color-text-secondary;
    }
}

.site-header{
    .nav-menu{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(255, 198, 155, 0.8);
        margin: auto;
        padding: 0.5em 0.5em;
        color: $color-text-secondary;
        text-align: center;

        &:hover{
            background: $color-base-primary;
            box-shadow: -2px 0px 0px 0px $color-text-secondary;
        }
    }
}

/********** HEADER LAYOUT **********/

.site-header{   
    .nav-menu{
        display: none;
    }

    .img-container {
        height: 40vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include breakpoint(phone-small){
            height: 60vh;
            display: block;
        }
        
        .header-slogan {
            text-align: center;
            padding: 1em 0.5em;

            @include breakpoint(phone-medium){
                padding: 0 0.5em;
            }
        
        }
    }
}

.header-nav {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;

    @include breakpoint(phone-medium){
        display: none;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        
        li {
            padding: 1em 0;
        }
    }
}

.menu-toggle{
    position: absolute;
    display: none;
    pointer-events: none;
}

.menu-toggle-button{
    display: block;   
    background: rgba(255, 198, 155, 0.8);
    color: $color-text-secondary;
    padding: 0.5em 0.2em;
    text-align: center;  
}

.mobile-nav{
    @include breakpoint(hide-mobile-nav){
        display: none;
    }
}


.mobile-nav .header-nav{
    display: block;
    position: static;

    li{
        flex-basis: 100%;
        padding: 0.5em 0.2em;
        text-align: center;

        a{
            padding: 0.5em 0.2em;
        }
    }
}

// EXPANDABLE MENU

.menu-close{
    display: none;
}

.menu-open{
    display: block;
}

.mobile-nav ul{
    display: none;
}

.menu-toggle:checked + .mobile-nav .menu-toggle-button{
    background: $color-base-primary;
}

.menu-toggle:checked + .mobile-nav ul{
    display: block;
}

.menu-toggle:checked + .mobile-nav .menu-open{
    display: none;
 }

.menu-toggle:checked + .mobile-nav .menu-close{
    display: block;
 }