
/********** HEADER STYLES **********/

.header-slogan {
    font-family: $font-family-headings;
    font-size: 4em;
    color: $color-background-secondary;

    /* ADDING BORDER TO TEXT */
    text-shadow:
        -1px 0 $color-base-primary,
        0 1px $color-base-primary,
        1px 0 $color-base-primary,
        0 -1px $color-base-primary;
}

.header-nav ul {
    background: rgba(255, 198, 155, 0.8);
    overflow: hidden;
    
    li a {
        padding: 1.5em 1em;
        color: $color-text-secondary;
    }
    
    li:hover {
        background: $color-base-primary;
        /* outline: 1px solid white; */
        box-shadow: -2px 0px 0px 0px white;
    
    }
}

/********** HEADER LAYOUT **********/

.header-slogan {
    text-align: center;
    padding: 0.5em 0;
}

.img-container {
    height: 60vh;
    // MIGHT NEED TO AMEND
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-nav {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        
        li {
            padding: 1em 0;
        }
    }
}

