/********** MAIN STYLES **********/
/* DESTINATIONS */
.site-content-destinations {
    background: var(--color-background-primary, #f6f5f2);
}


.destinations-wrapper{
    
    .destination-preview {
        border: 1px solid var(--color-background-secondary, #ffc69b);
    }
    
    .destination-name {
        color: var(--color-text-secondary, #ffffff);
    }
} 


.event-preview .left-section i {
    color: var(--color-base-primary, #9bb2ff);
}

.read-more {
    color: var(--color-base-primary, #9bb2ff);
    
    &:hover {
        text-decoration: underline;
    }
}


/* EVENTS */
.site-content-events {
    background: var(--color-text-secondary, #ffffff);
}

/********** MAIN LAYOUT **********/
/* DESTINATIONS */
.site-content h2 {
    text-align: center;
    margin-bottom: 1em;
}

.site-content-destinations,
.site-content-events {
    padding: 0 20%;
    margin: auto;
}

.site-content-destinations {
    padding-top: 3em;
    padding-bottom: 5em;
}

.site-footer {
    padding: 1.5em 0;
    padding-top: 3em;
}

.footer-technologies {
    margin: 1em 0;
}


.destinations-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    
    .destination-preview {
        flex-basis: 30%;
        position: relative;
        vertical-align: middle;
        text-align: center;
        
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .destination-name {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}




/* EVENTS */

.site-content-events {
    width: 100%;
    padding: 0 10%;
    padding-top: 3em;
    padding-bottom: 5em;
}


.event-preview {
    display: flex;
    flex-flow: row wrap;

    &:not(:last-child) {
        padding-bottom: 2em;
        margin-bottom: 1em;
        border-bottom: 2px solid var(--color-text-primary, #505050);
    }
    
    .event-name {
        flex-basis: 100%;
        padding-bottom: 1em;
    }
    
    .left-section {
        flex-basis: 20%;
        
        i {
            display: block;
            font-size: 4em;
            text-align: center;
            padding: 0.2em 0;
        }
        
        time {
            display: block;
            text-align: center;
        }
    }
    
    
    .right-section {
        flex-basis: 80%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        
        * {
            padding-left: 1em;
        }
        
        .read-more {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin-left: auto;
            text-align: right;
            position: relative;
        }
    }
}



/********** MAIN ANIMATIONS **********/

.destination-preview{

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-background-secondary, #ffc69b);
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    &:hover::before {
        opacity: 0.5;
    }

    &:hover .destination-name {
        transition: font-size 0.3s ease-in;
        font-size: 2.2em;
    }
}