/********** CITIES STYLES **********/


.wrapper .city-upcoming-events {
    background: var(--color-background-primary, #f6f5f2);
}

.city-upcoming-events{

    li:hover,
    li:hover a {
        background: var(--color-base-third, #ff9ba7);
        color: var(--color-text-secondary, #ffffff);
    }
}


.info-card-stats{

    i {
        color: var(--color-text-secondary, #ffffff);
       
    }
    
    span {
        color: var(--color-text-secondary, #ffffff);
    }
}


/********** CITIES LAYOUT **********/
/* CITIES HEADER */
.city-header {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    
    h1 {
        padding-bottom: 0.5em;
    }
}


/* CITIES MAIN */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    
    .city-header {
        flex-basis: 100%;
    }
    
    .city-main {
        flex-basis: 80%;
        padding: 1em 3em 1.5em;
        
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        
        p {
            padding-bottom: 1em;
        }
    }
    
    .no-events{
        margin: auto;
    }
    
    .city-upcoming-events {
        flex-basis: 20%;
        text-align: center;
    }
}

.first-image,
.second-image {
    float: left;
    height: 15em;
    width: 10em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2em;
    padding: 2em;
    border: 1px solid orange;
}

.first-image {
    margin-right: 1em;
}

.second-image {
    float: right;
    height: 20em;
    width: 15em;
    margin-left: 1em;
}

.city-upcoming-events {

    h3 {
        padding-bottom: 1em;
    }
    
    li {
        padding: 0.4em 1em;
        text-align: left;
        border-bottom: 2px var(--color-text-secondary, #ffffff) solid;
        
        a {
            display: block;
            padding: 0.4em 0.6em;
            padding-left: 0;
        }
    }
}

.info-card-stats {
    background-image: url("/images/spain_fag_2400_x_1600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transition: left 0.3s linear;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-text-primary, #505050);
        opacity: 0.4;
    }

    i {
        font-size: 4em;
        padding: 0.2em 0;
        position: relative;
        top: -2em;
        animation-name: bounce;
        animation-duration: 1s;
        transition: top 0.5s cubic-bezier(1, 1.6, 0, 0.8) 0.3s;
    }
    
    span {
        display: block;
        padding: 0.5em;
        position: relative;
        left: 100%;
        transition: left 0.4s ease-in;
        
        &:nth-child(2) {
            transition-delay: 0.4s;
        }
        
        &:nth-child(3) {
            transition-delay: 0.5s;
        }
        
        &:nth-child(4) {
            transition-delay: 0.6s;
        }
        
        &:nth-child(5) {
            transition-delay: 0.7s;
        }
    }
}

.city-header-info-card {
    width: 30em;
    height: 20em;
    margin: auto;
    position: relative;
    border: 1px solid var(--color-background-secondary, #ffc69b);
    overflow: hidden;
    border-radius: 3em;
    display: block;
    
    &:hover .info-card-stats {
        left: 0;
    }
    
    &:hover i {
        top: 0;
    }
}

.city-header-info-card:hover span {
    left: 0%;
}