<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <main>

        <article class="wrapper">
            <header class="city-header">
                <h1>{{ page.title }}</h1>
                <div class="city-header-info-card">
                    
                    <div class="info-card-image">
                        <img src="{{ site.baseurl }}/images/{{ page.main_picture }}" alt="Picture of {{ page.title }}">
                    </div>
                    
                    <div class="info-card-stats">
                        <i class="fas fa-university"></i>
                        <span>Name: {{ page.title }}</span>
                        <span>Population: {{ page.population }} people</span>
                        <span>Area: {{ page.area }} km2</span>
                        <span>Elevation: {{ page.elevation }} m2</span>
                    </div>
    
                </div>
            </header>
            <!-- Selecting the events for the current city -->
            {% assign events_ordered_by_date = site.events | where: 'destination', {{page.title}} | sort: 'date' | reverse  %}
    
            <main class="city-main {%if events_ordered_by_date.size == 0 %}no-events{%endif%}" >
                <div class="first-image" style="background-image: url({{site.baseurl}}/images/{{page.first_picture}});">
                    <!-- <img src="1055.jpg" alt=""> -->
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, esse. Eos voluptatum odit minima exercitationem cum voluptate vitae nemo. Ipsum necessitatibus nulla nemo illo architecto obcaecati qui repellat laboriosam tenetur.</p>
                <div class="second-image" style="background-image: url({{site.baseurl}}/images/{{page.second_picture}});">
                    <!-- <img src="1055.jpg" alt=""> -->
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid deleniti impedit ex tempora voluptatum, magnam animi voluptas ullam eos reiciendis quisquam corporis at laboriosam, cum illo sint molestias eveniet tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eligendi dicta ratione error quae non ea cupiditate rem magni accusamus sed ducimus consequuntur doloremque aspernatur expedita tempore est beatae modi?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid deleniti impedit ex tempora voluptatum, magnam animi voluptas ullam eos reiciendis quisquam corporis at laboriosam, cum illo sint molestias eveniet tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eligendi dicta ratione error quae non ea cupiditate rem magni accusamus sed ducimus consequuntur doloremque aspernatur expedita tempore est beatae modi?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid deleniti impedit ex tempora voluptatum, magnam animi voluptas ullam eos reiciendis quisquam corporis at laboriosam, cum illo sint molestias eveniet tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eligendi dicta ratione error quae non ea cupiditate rem magni accusamus sed ducimus consequuntur doloremque aspernatur expedita tempore est beatae modi?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis recusandae accusantium dolorem, tempore deserunt aperiam aliquam maiores, perferendis et sed ullam</p>
        
            </main>
    
            {%if events_ordered_by_date.size > 0 %}
                <aside class="city-upcoming-events">
                    <h3>Coming Events</h3>
                    <ul>
                        {% for event in events_ordered_by_date limit: 5 %}
                            <li>
                                <a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a>
                            </li> 
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
        </article>

    </main>

    {% include footer.html %}
    
</body>

</html>