<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <main>

        <article class="wrapper">
            <header class="city-header">
                <h1>{{ page.title }}</h1>
                <div class="city-header-info-card">
                    
                    <div class="info-card-image">
                        <img src="{{ site.baseurl }}/images/{{ page.main_picture }}" alt="Picture of {{ page.title }}">
                    </div>
                    
                    <div class="info-card-stats">
                        <i class="fas fa-university"></i>
                        <span>Name: {{ page.title }}</span>
                        <span>Population: {{ page.population }} people</span>
                        <span>Area: {{ page.area }} km2</span>
                        <span>Elevation: {{ page.elevation }} m2</span>
                    </div>
    
                </div>
            </header>

            <!-- Selecting the events for the current city -->
            {% assign events_ordered_by_date = site.events | where: 'destination', {{page.title}} | sort: 'date' | reverse  %}
    
            <main class="city-main {%if events_ordered_by_date.size == 0 %}no-events{%endif%}" >
                {% for paragraph in page.text %}
                    {% if forloop.index == 1 %}
                        <div class="first-image" style="background-image: url({{site.baseurl}}/images/{{page.first_picture}});"></div>
                        <p>{{ paragraph }}</p>
                    {% elsif forloop.index == 2 %}
                        <div class="second-image" style="background-image: url({{site.baseurl}}/images/{{page.second_picture}});"></div>
                        <p>{{ paragraph }}</p>
                    {% else %}
                        <p>{{ paragraph }} </p>
                    {% endif %}
                
                {% endfor %}

            </main>
    
            <!-- Show sidebar if there are upcoming events -->
            {%if events_ordered_by_date.size > 0 %}
                <aside class="city-upcoming-events">
                    <h3>Upcoming Events</h3>
                    <ul>
                        {% for event in events_ordered_by_date limit: 5 %}
                            <li>
                                <a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a>
                            </li> 
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
        </article>

    </main>

    {% include footer.html %}
    
</body>

</html>