<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body>
    {% include header.html %}

    <main class="site-content">
        <h1 class="gallery-heading">Enjoy the beauty of Andalucia</h1>
        
        <section class="section-gallery">
            <ul class="gallery">
        
                {% for picture in page.pictures %}
                    <li class="gallery-img-container {{ picture.orientation }}">
                        <a href="{{ site.baseurl }}/images/{{ picture.url }}" target="_blank">
                            <img src="{{ site.baseurl }}/images/{{ picture.url }}" alt="{{ picture.alt }}" >
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    {% include footer.html %}
</body>

</html>
