<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--TODO: ADD GOODLE FONTS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
    <title>{{ page.title }}</title>
</head>

<body>

    <header class="site-header">   
        <!-- LOGO -->
        {% if page.title == "Home" %}
            <h1 class="header-slogan">The beautiful Andalucia</h1>
        {% else %}
            <p class="header-slogan">The beautiful Andalucia</p>
        {% endif %}

        <!-- MAIN IMG SECTION -->
        <div class="img-container">
            <!-- NAVIGATION --> 
            {% include navigation.html %}
        </div>    
    </header>

    <main class="site-content">
        {{content}}
        
    
        <section class="site-content-destinations">
            <header>
                    <h2>Spend a day in</h2>
            </header>

            <section class="destinations-wrapper">
                {% for destination in site.destinations limit:3 %}
                    <section class="destination-preview">
                        <a href="{{ site.baseurl }}/{{ post.url }}">
                            <h4 class="destination-name">{{ destination.name }}</h4>
                            <img src={{destination.thumb}} alt="">
                        
                        </a>
                    </section>
                {% endfor %}
            </section>

        </section>


    </main>

    <aside></aside>

    <footer></footer>

</body>


</html>