{% include head.html %}

{% include header.html %}

<body>
    <main class="site-content">

        {% if page.title == "One Day In" %}
            <section class="site-content-destinations">
                <header>
                        <h2>Spend a day in</h2>
                </header>
        
                <section class="destinations-wrapper">
                    {% for destination in site.destinations %}
                        <a href="{{ site.baseurl }}/{{ destination.url }}" class="destination-preview">
                            <h4 class="destination-name">{{ destination.title }}</h4>
                            <img src={{destination.thumb}} alt="">
                        </a>
                    {% endfor %}
                </section>
            </section>
        {% endif %}

        {% if page.title == "Events"%}
            <section class="site-content-events">
                <header>
                        <h2>Events in Andalucia</h2>
                </header>
            
                {% for event in site.events%}
                    <section class="event-preview">
                        <h4 class="event-name">{{ event.name }}</h4>
                        
                        <div class="left-section">
                            <i class="far fa-calendar-alt"></i>
                            <time>{{event.date| date: "%d-%m-%Y"}}</time>
                        </div>
                        
                        <div class="right-section">
                            <p>{{ event.excerpt | truncatewords: 30 }}</p>
                            <a href="{{ site.baseurl }}/{{ post.url }}" class="read-more">
                                <span>Read more</span>
                                <!-- <span> and reveal the secret of {{ event.destination }}</span> -->
                            </a>
                        </div>
                    </section>
                {% endfor %}
            </section>
        {% endif %}
        
    </main>
    

    {% include footer.html %}
</body>

